//colors
$main-color: #2eddac;
$arrows-color: #737f81;
$btn-bg: #17daa3;
$btn-text-color: #576671;
$about-us-circle-bg-color: #edeff0;
$secondary-bg-color: #f9f9fa;
$our-advantage-text-color: #87949e;
$our-team-box-color: #e4e4e4;
$our-team-light-box-color: #efefef;
$price-box-shadow: 0 0 35px rgba(227, 227, 227, 0.65);